@font-face {
    font-family: 'myfont';
    src: url(../Fonts/Montserrat-Regular.otf),
    url(../Fonts/Montserrat-Regular.ttf),
    url(../Fonts/Montserrat-Regular.woff),
    url(../Fonts/Montserrat-Regular.woff2);
}
*{
    font-family: 'myfont';
}
.Dashboard_card {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-left: 5px solid #1bcfb4;
}

.Dashboard_card1 {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-left: 5px solid #a05aff;
}

.Dashboard_card2 {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-left: 5px solid #4bcbeb;
}

.Dashboard_card3 {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 14px;
    border-left: 5px solid #fe9496;
}

.card_head,
.card_head1,
.card_head2,
.card_head3 {
    align-items: center;
}

.card_head>div {
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    place-items: center;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background-color: #1bcfb4;
}

.card_head1>div {
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    place-items: center;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background-color: #a05aff;
}

.card_head2>div {
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    place-items: center;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background-color: #4bcbeb;
}

.card_head3>div {
    display: grid;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    place-items: center;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    background-color: #fe9496;
}

.Plancard {
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 13px;

}

.PlanDetails_container {
    display: flex;
    justify-content: center;
}

.Plancard_head {

    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    border-radius: 50px;
    align-items: center;
}
.Payment_text{
    justify-content: center;
    font-size: larger;
}
.Plan_badge{
    position: absolute;
    right: 0;
    top: -2%;
    padding: 10px;
}
.nav-tabs .nav-link{
    border-radius: 40px;
    padding: 15px 30px;
    border: 1px solid gray;
    margin: 0 15px;
    font-size: 17px;
   
}
.nav-tabs{
    border: 0;
}
.nav-tabs .nav-link.active{
    background-color: #0d6efd;
    color: #fff;
    border: 0;
    font-weight: bold;
}
.Order_container{
    display: flex;
    justify-content: center;
}
.Order_Card{
    border-radius: 14px;
    border: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.Ordercard_img{
   width: 90px;
   height: 90px;
   border-radius: 45px;
   
}
.Order_Card>div>div:nth-child(1)>img{
    border-radius: inherit;
    object-position: center;
}
.Ordercard_heading{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.servicetype{
    width: fit-content !important;
    border-radius: 20px !important;
    background-color:#0d6efd ;
    padding: 10px;
    color:#fff;
    font-weight: bold;
    text-align: center;
 
    font-size: 15px;
}
.mw {
    width: max-content;
}
.Btns_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.Btns_container > button{
    padding: 12px 15px;
    text-align: center;
}